.root {
  text-align: center;
  padding: 20px 0;
  li {
    display: inline-block;

    a {
      text-align: center;
      width: 45px;
      line-height: 42px;
      height: 45px;
      border: 1px solid #3a3939;
      border-radius: 30px;
      margin-right: 10px;
      cursor: pointer;
      display: inline-block;
      color: #3a3939;

      &:hover {
        background-color: #3a3939;
        color: #fff;
      }
    }
  }

  :global {
    .selected {
      a {
        background-color: #3a3939;
        color: #fff;
      }
    }
  }
}
