.footer {
  text-align: center;
  padding: 15px;
  background-color: #f6f6f6d6;
  border-radius: 0 0 20px 20px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

@media (max-width: 600px) {
  .footer {
    font-size: 12px;
  }
}
